<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.boldblue.superseguros.partners">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".Main.Principal_superapi"
            android:exported="true">
        </activity>
        <activity android:name=".SeguroAuto.Formulario_uno_superapi"
            android:exported="true">
        </activity>
    </application>
</manifest>